%main-font {
    font-family: 'ClashDisplay-Regular', sans-serif;
    color: #ffffff;
    // font-weight: 600;
}
%main-font-400 {
    font-family: 'ClashDisplay-Regular', sans-serif;
    color: #ffffff;
    // font-weight: 600; 
}

%second-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

$border-color: #49EFEF;
$background-color: #060608;
$animationSpeed: 10s;